<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>خبرگزاری</title>
</head>
<body>
  <div class="container">
        <div class="row">

            <div class="col-md-12">
                {% for i in all_data %}
                    <div class="col-md-4 clearfix">
                    <a href="{{ i.url }}">{{ i.title }}</a>
                    <P>****</P>

                {% endfor %}


                </div>

            </div>
        </div>
    </div>
</body>